<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cisco.services.xchange">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CiscoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/sx"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_FullScreen">
        <activity
            android:name=".cisco_activities.CiscoLandingActivity"
            android:theme="@style/AppTheme_FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".cisco_activities.CiscoLoginActivity"
            android:label="@string/title_activity_cisco_login"
            android:theme="@style/AppTheme_FullScreen" />

        <activity
            android:name=".cisco_activities.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme_FullScreen" />

        <activity
            android:name=".cisco_activities.ProfileActivity"
            android:label="@string/profile"
            android:theme="@style/AppTheme_FullScreen" />

        <activity
            android:name=".cisco_activities.NomineeDetailActivity"
            android:label="@string/profile"
            android:theme="@style/AppTheme_FullScreen" />

        <activity android:name=".cisco_activities.ForgotPasswordActivity"
            android:label="@string/forgot_password_lable"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>
